
@keyframes opacity {
    0% {opacity: 0;}
    100%{ opacity: 1;}
  }

html{
    margin: 0;
    background-color: tomato;
}
.button{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: black;
    color: tomato;
    
}

#menu{
float:none;
position:fixed;
margin: 1vw;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-style: strong;
line-height: 2;
width: 100vw;
align-items: right;
}

#title{
    margin-top: 20vh;
    position:fixed;
    text-align: center;
    width:100vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
}
#iconcontainer{
margin-top: 30vh;
float:left;
width: 100vw;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
justify-content: center;

}
.icon {

    padding-top: 40px;
    width: 250px;
    height: 210px;
    padding-bottom: 40px;
    border:  solid;
    border-color: transparent;
    border-radius: 40px;
    overflow: hidden;
    display: inline-block;
    transform: scale(.8);
    
    transition-property: all;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay:  0;
    
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: both; 
    }
    #nascar.icon:hover {
        background-image: url("nascar.jpeg");
          background-repeat: repeat;
        background-size: cover;
        cursor: pointer;
    }
    #newt.icon:hover {
        background-image: url("newt.jpeg");
          background-repeat: repeat;
        background-size: cover;
        cursor: pointer;
    }
    #noodles.icon:hover {
        background-image: url("noodles.jpeg");
          background-repeat: repeat;
        background-size: cover;
        cursor: pointer;
    }
    #neighborhood.icon:hover {
        background-image: url("neighborhood.webp");
          background-repeat: repeat;
        background-size: cover;
        cursor: pointer;
    }
    #nuts.icon:hover {
        background-image: url("nuts.jpeg");
          background-repeat: repeat;
        background-size: cover;
        cursor: pointer;
    }



.shape1 {
    width: 40px;
    height: 200px;
    background: white;
    transform: translate(20px);
  }
  
  .shape2 {
    width: 40px;
    height: 200px;
    background: white;
    transform: translate(190px, -200px);
  }
  
  .triangle-up {
    background: transparent;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid white;
    transform: translate(10px,-250px);
  }
  
  .triangle-up2 {
    background: transparent;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid white;
    transform: translate(180px,-310px);
  }
  
  .triangle-down {
    background: transparent;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid white;
    transform: translate(10px, -530px);
  }
  
  .triangle-down2 {
    background: transparent;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 60px solid white;
    transform: translate(180px, -590px);
  }
  
  .shape3 {
    width: 240px;
    height: 8px;
    background: white;
    transform: translateX(5px)
               translateY(-540px)
               rotate(56deg);
  }