@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

*{ background-color: blUE; }

h1 {
color: white;
font-family: 'Roboto Mono', monospace;
    font-size:  60px;
}


h2 {
color: grey;
font-family: 'Roboto Mono', monospace;
    font-size:  20px;
text-transform: capitalize;
}

p {
color: white;
font-family: 'Roboto Mono', monospace;
    font-size:  40px;
}


#container {
padding-top: 10vh;
padding-bottom: 10vh;
padding-left: 40vh;
padding-right: 40vh;
display:block;
}

#photo1 {
background: url('1.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo2 {
background: url('Opener.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo3 {
background: url('matty.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo4 {
background: url('Demi2.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo5 {
background: url('demi1.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo6 {
background: url('cars.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo7 {
background: url('Onair.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}

#photo8 {
background: url('NickGiovanni.png') no-repeat center fixed;     
background-size: cover;
width: 100vw;
height: 100vh;
display:block;
vertical-align:middle;
}





